<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="form.css" />
  </head>
  <body>
    <div class="login">
      <h1><%=shopName%> Shop</h1>
      <h2>Here are the books that we sell:</h2>
      <h1>login for <%=shopName%></h1>
      <ul class="liseter">
        <% availableBooks.forEach(function(book) { %>
        <li><%= book.name %>, £<%=book.price%></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
