<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Congrats!</h1>

    <!--Gathers all the users' data and displays the corresponding data for the registered user-->
    <p>
      Your regisration was successful! Hello <%=newUser[1]%> <%=newUser[2]%>,
      you are now registered! We will send an email to you at <%=newUser[3]%>.
      Your password is <%=newUser[5]%> and your hashed password is
      <%=newUser[4]%>
    </p>
  </body>
  <p><a href="/">Home page</a></p>
</html>
