<!DOCTYPE html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Weather in <%=stats[1]%></h1>

    <!--Gathers all the users' data and displays the corresponding data for the registered user-->
    <p>The temperature in <%=stats[1]%> is <%=stats[0]%> °C</p>
    <p>
      The maximum temperature today is <%=stats[2]%> and the minimum temperature
      is <%=stats[3]%>
    </p>
    <p>The humidity is: <%=stats[4]%> %</p>
    <p>The pressure is: <%=stats[5]%> Pa</p>
    <p>The wind speed is <%=stats[6]%> knots.</p>
  </body>
  <p><a href="/">Home page</a></p>
</html>
